.container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 10px;
}
.container > div {
  background: grey;
  padding: 1rem;
}
.container > div:nth-child(odd) {
  background: lightslategray;
}
